@use '../../stylesUtils/colors';

.gamePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.gameBackground {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex:1;
    gap: 40px;
    background-color: colors.$grey;

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        max-width: 250px;
        padding-right: 10px;
    }
}

.listContainer {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 300px;
}

h4 {
    color: colors.$green
}

.light-label {
    color: colors.$green,
}

.waiting-label {
    font-weight: bold;
    color: colors.$green,
}

.horizontalWrapper {
    display: flex;
    gap: 10px;
}

.verticalBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.positionsListWrapper {
    width:300px
}