@use '../../stylesUtils/colors.scss';

.square {
    height: 9.5%;
    width: 9.5%;
    background-color: transparent;
    border: 1px solid;
    border-color: colors.$darkGreen;
    opacity: 0.5;
}

.positionBoard {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}