@use '../../stylesUtils/colors.scss';

.square {
    height: 9.5%;
    width: 9.5%;
    background-color: transparent;
    border: 1px solid;
    border-color: colors.$darkGreen;
}

.positionBoard {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.smallPositionBoard {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.shot {
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-top: 8px;
    border-radius: 100%;
    border: solid 2px;
    background-color: transparent;
}