@use '../../stylesUtils/colors.scss';
@use '../../stylesUtils/fontsizes.scss';

button {
    display: block;
    background-color: transparent;
    border: solid 2px;
    border-color: colors.$green;
    color: colors.$green;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    border-color: colors.$lightGreen;
    color: colors.$lightGreen;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mediumButton {
    padding: 10px;
    margin-bottom: 10px;
    font-size: fontsizes.$small;
}

.smallButton {
    padding: 4px;
    font-size: fontsizes.$xSmall;
}