@use '../../stylesUtils/colors.scss';
@use '../../stylesUtils/fontsizes.scss';

button {
    display: block;
    background-color: transparent;
    border: solid 2px;
    border-color: colors.$green;
    color: colors.$green;
    border-radius: 6px;
    cursor: pointer;

    label {
        cursor: pointer;
    }
}

button:hover {
    border-color: colors.$lightGreen;
    color: colors.$lightGreen;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.largeButton {
    padding: 10px;
    margin-bottom: 10px;
    font-size: fontsizes.$medium;
}

.mediumButton {
    padding: 10px;
    margin-bottom: 10px;
    font-size: fontsizes.$xSmall;
}

.mediumRedButton {
    padding: 10px;
    margin-bottom: 10px;
    font-size: fontsizes.$xSmall;
    color: colors.$darkRed;
    border-color: colors.$darkRed;
}

.mediumRedButton:hover {
    border-color: colors.$lightRed;
    color: colors.$lightRed;
}

.smallButton {
    padding: 4px;
    font-size: fontsizes.$xXSmall;
}