@use '../../stylesUtils/colors';
@use '../../stylesUtils/fontsizes.scss';

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 25px;
    height: 40px;
    background-color: colors.$darkGrey;
}

.navButton {
    border: 0;
    font-size: fontsizes.$xSmall;
    padding: 0;
}