@use '../../stylesUtils/colors.scss';

.ship {
    width: 240px;
    height: 40px;
    border-radius: 500px;
    z-index: 1000;
    border: 4px solid colors.$green;
    background-color: colors.$grey;
}