@use '../../stylesUtils/colors.scss';

.ship {
    width: 240px;
    height: 40px;
    border: 2px solid;
    border-color: colors.$green;
    border-radius: 10%;
    z-index: 1000;
    background-color: colors.$grey;
}