@use './stylesUtils/fontSizes.scss';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,600,700';

* {
font-family: 'Poppins';
}

#root {
  height: 100vh;
}

h1 {
  font-size: fontSizes.$xLarge;
}

h2 {
  font-size: fontSizes.$large;
}

h3 {
  font-size: fontSizes.$medium;
}

h4 {
  font-size: fontSizes.$small;
}

